html {
	font-family: Arial;
	font-size: 62.5%;
}

body {
	-webkit-font-smoothing: antialiased;
}

.content {
	overflow: hidden;
	margin-top: 96px;
	@include breakpoint('m') {
		margin-top: 0;
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}