@mixin breakpoint($size) {
	@if $size == 'xs' {
		@media all and (max-width: 320px) { @content; }
	}
	@else if $size == 's' {
		@media all and (max-width: 480px) { @content; }
	}
	@else if $size == 'm' {
		@media all and (max-width: 768px) { @content; }
	}
	@else if $size == 'l' {
		@media all and (max-width: 1024px) { @content; }
	}
	@else if $size == 'xl' {
		@media all and (max-width: 1440px) { @content; }
	}
	@else {
		@warn 'Breakpoint mixin supports: xs, s, m, l, xl';
	}
}