/***************
	* COLORS *
***************/
$blue: #170cff;
$dark-grey: #555555;
$grey: #d6d6d6;
$light-grey: #efefef;
$orange: #ff3f0c;
$green: #0cff56;



/***************
	* ANIMATION *
***************/
$anim-drt-med: 0.4s;
$anim-curve-oc: cubic-bezier(0.65, 0.65, 0.3, 1);
$anim-drt-fast: 0.3s;
$anim-curve-fosi: cubic-bezier(0.25, 0, 0.25, 1);