<div class="listing-header catalog-header">
	<p class="listing-title catalog-title">Tous les modèles</p>
	<div class="catalog-header-wrapper">
		<input placeholder="Rechercher un modèle" type="text" class="catalog-search">
		<div class="sort catalog-sort">
			<p class="sort-text catalog-sort-text">trier par :</p>
			<select class="sort-select catalog-sort-select">
				<option value="popularity">Popularité</option>
				<option value="price">Prix</option>
				<option value="name">Nom</option>
			</select>
		</div>
	</div>
</div>
<div id="catalog" class="listing-catalog"></div>
<a href="#" class="catalog-link"><span class="arrow"></span>voir tous les modèles</a>