<div class="wrapper footer-wrapper">
	<div class="footer-column">
			<p class="footer-title">Navigation</p>
		<ul>
			<li class="footer-item"><a href="#" class="footer-link">actualités</a></li>
			<li class="footer-item"><a href="#" class="footer-link">annuaire</a></li>
			<li class="footer-item"><a href="#" class="footer-link">app store</a></li>
			<li class="footer-item"><a href="#" class="footer-link">commandes</a></li>
			<li class="footer-item"><a href="#" class="footer-link">formations</a></li>
			<li class="footer-item"><a href="#" class="footer-link">publicités</a></li>
		</ul>
	</div>
	<div class="footer-column">
		<p class="footer-title">Mon compte</p>
		<ul>
			<li class="footer-item"><a href="#" class="footer-link">contacts favoris</a></li>
			<li class="footer-item"><a href="#" class="footer-link">commandes</a></li>
			<li class="footer-item"><a href="#" class="footer-link">formations</a></li>
			<li class="footer-item"><a href="#" class="footer-link">préférences</a></li>
			<li class="footer-item"><a href="#" class="footer-link">profil</a></li>
			<li class="footer-item"><a href="#" class="footer-link">publicités</a></li>
		</ul>
	</div>
	<div class="footer-column">
		<p class="footer-title">Applications</p>
		<ul>
			<li class="footer-item"><a href="#" class="footer-link">catalogue</a></li>
			<li class="footer-item"><a href="#" class="footer-link">app SAV</a></li>
			<li class="footer-item"><a href="#" class="footer-link">app Garantie</a></li>
			<li class="footer-item"><a href="#" class="footer-link">user Management</a></li>
			<li class="footer-item"><a href="#" class="footer-link">CRM</a></li>
			<li class="footer-item"><a href="#" class="footer-link">ERP</a></li>
		</ul>
	</div>
	<div class="footer-column">
		<p class="footer-title">Liens</p>
		<ul>
			<li class="footer-item"><a href="#" class="footer-link">à propos</a></li>
			<li class="footer-item"><a href="#" class="footer-link">conditions d'utilisation</a></li>
			<li class="footer-item"><a href="#" class="footer-link">mentions légales</a></li>
			<li class="footer-item"><a href="#" class="footer-link">intranet</a></li>
			<li class="footer-item"><a href="#" class="footer-link">site.com</a></li>
		</ul>
	</div>
</div>