<nav class="wrapper header-wrapper">
	<div class="header-menu">
		<a href="#" class="header-link header-menu-link header-menu-link_active">Accueil</a>
		<a href="#" class="header-link header-menu-link">En cours</a>
		<a href="#" class="header-link header-menu-link">Historique</a>
	</div>
	<div class="header-user">
		<a href="#" class="header-link header-user-link">Booba Deuxmilles</a>
		<a href="#" class="header-link header-user-link">Déconnexion</a>
	</div>
</nav>