<div class="historic-part historic-part_left">
	<p class="historic-title">Historique de vos commandes</p>
	<a href="#" class="historic-infobloc infobloc_warn infobloc">
		<article>
			<img src="./../img/user1.png" alt="utilisateur machin" class="infobloc-pp">
			<img src="./../img/info.svg" alt="bulle d'information sur l'état de la commande" class="infobloc-icon">
			<div class="infobloc-description">
				<p class="infobloc-description-title">Commande N°365412</p>
				<p class="infobloc-description-text">Par <strong class="bold">Vous</strong> le <strong class="bold">02 février 2015</strong></p>
				<p class="infobloc-description-state infobloc-description-state">attention requise</p>
			</div>
			<p class="buttonlink infobloc-link"><span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>consulter<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></p>
		</article>
	</a>
	<a href="#" class="historic-infobloc infobloc">
		<article>
			<img src="./../img/user1.png" alt="utilisateur machin" class="infobloc-pp">
			<img src="./../img/truck.svg" alt="bulle d'information sur l'état de la commande" class="infobloc-icon">
			<div class="infobloc-description">
				<p class="infobloc-description-title">Commande N°365412</p>
				<p class="infobloc-description-text">Par <strong class="bold">Vous</strong> le <strong class="bold">02 février 2015</strong></p>
				<p class="infobloc-description-state">attention requise</p>
			</div>
			<p class="buttonlink infobloc-link"><span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>consulter<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></p>
		</article>
	</a>
	<a href="#" class="historic-infobloc infobloc_valid infobloc">
		<article>
			<img src="./../img/user1.png" alt="utilisateur machin" class="infobloc-pp">
			<img src="./../img/valid.png" alt="bulle d'information sur l'état de la commande" class="infobloc-icon">
			<div class="infobloc-description">
				<p class="infobloc-description-title">Commande N°365412</p>
				<p class="infobloc-description-text">Par <strong class="bold">Vous</strong> le <strong class="bold">02 février 2015</strong></p>
				<p class="infobloc-description-state infobloc-description-state">attention requise</p>
			</div>
			<p class="buttonlink infobloc-link"><span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>consulter<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></p>
		</article>
	</a>
	<a href="#" class="historic-infobloc infobloc_valid historic-infobloc_last infobloc">
		<article>
			<img src="./../img/user1.png" alt="utilisateur machin" class="infobloc-pp">
			<img src="./../img/valid.png" alt="bulle d'information sur l'état de la commande" class="infobloc-icon">
			<div class="infobloc-description">
				<p class="infobloc-description-title">Commande N°365412</p>
				<p class="infobloc-description-text">Par <strong class="bold">Vous</strong> le <strong class="bold">02 février 2015</strong></p>
				<p class="infobloc-description-state infobloc-description-state_valid">attention requise</p>
			</div>
			<p class="buttonlink infobloc-link"><span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>consulter<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></p>
		</article>
	</a>
	<a href="#" class="buttonlink historic-link"><span class="arrow buttonlink-arrow buttonlink-arrow_left "></span>voir l'historique<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></a>
</div>
<div class="historic-part historic-part_right">
	<p class="historic-title">Formations liées</p>
	<a href="#" class="historic-infobloc infobloc">
		<article>
			<img src="./../img/user1.png" alt="utilisateur machin" class="infobloc-pp">
			<img src="./../img/info.svg" alt="bulle d'information sur l'état de la commande" class="infobloc-icon">
			<div class="infobloc-description">
				<p class="infobloc-description-info">force de vente</p>
				<p class="infobloc-description-title">Optimiser vos campagnes publicitaires</p>
				<p class="infobloc-description-state">recommandée</p>
			</div>
			<p class="buttonlink infobloc-link"><span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>consulter<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></p>
		</article>
	</a>
	<a href="#" class="historic-infobloc infobloc">
		<article>
			<img src="./../img/user1.png" alt="utilisateur machin" class="infobloc-pp">
			<img src="./../img/info.svg" alt="bulle d'information sur l'état de la commande" class="infobloc-icon">
			<div class="infobloc-description">
				<p class="infobloc-description-info">force de vente</p>
				<p class="infobloc-description-title">Gestion des stocks</p>
				<p class="infobloc-description-state">recommandée</p>
			</div>
			<p class="buttonlink infobloc-link"><span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>consulter<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></p>
		</article>
	</a>
</div>