<header class="header"></header>
<div class="hamburger">
	<span class="hamburger-line"></span>
	<span class="hamburger-line"></span>
	<span class="hamburger-line"></span>
</div>
<main class="content">
	<section class="landing"></section>
	<section class="wrapper seller"></section>
	<section class="news"></section>
	<section class="wrapper historic"></section>
	<section class="stats"></section>
	<section class="wrapper catalog"></section>
</main>
<footer class="footer"></footer>