<div class="wrapper landing-wrapper">
	<img src="./../img/landing-bike.jpg" alt="Produit vélo couverture" class="landing-cover">
	<div class="landing-heading">
		<h1 class="landing-heading-name">Vélo 2000</h1>
		<p class="landing-heading-infos">Taille S - Automatique<br>Vert Anglais</p>
	</div>
	<a href="#" class="buttonlink landing-command">
		<span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>commander<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span>
	</a>
</div>