{{#each this}}
	<section class="product {{#if_inf this.stock 2}}product_nostock{{/if_inf}}" data-id="{{this.id}}">
		<img src="./../img/product1.png" alt="Produit vélo de la marque truc much" class="product-cover">
		<h2 class="product-name">{{this.name}}</h2>
		<p class="product-description">{{this.description}}</p>
		<p class="product-info">{{this.stock}} en stock</p>
	</section>
{{/each}}