<div class="wrapper news-wrapper">
	<p class="news-title">Nouveautés</p>
	<div id="slider" class="slider news-slider">
		<div class="slider-wrapper">
			<span class="arrow slider-arrow slider-arrow_left"></span>
			<div class="slider-cover">
				{{!-- <img src="./../img/slider-product1.jpg" alt="Photo produit vélo noir" class="slider-cover-item"> --}}
				</div>
			<div class="slider-right">
				<div class="slider-title">
					{{!-- <h2 class="slider-title-item">Nom du nouveau modèle</h2> --}}
				</div>
				<div class="slider-description">
					{{!-- <p class="slider-description-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non eleifend velit. Aliquam imperdiet mollis lorem a tempor. Duis condimentum sem eu risus faucibus, nec laoreet leo pellentesque. Etiam lorem ex, hendrerit nec erat at, gravida eleifend orci.</p> --}}
				</div>
				<a href="#" class="buttonlink slider-command"><span class="arrow buttonlink-arrow buttonlink-arrow_left"></span>commander<span class="arrow buttonlink-arrow buttonlink-arrow_right"></span></a>
			</div>
			<span class="arrow slider-arrow slider-arrow_right"></span>
		</div>
		<div class="slider-pagination">
			{{!-- <img src="./../img/slider-thumbnail1.png" alt="miniature de pagination du slider" class="slider-pagination-item">
			<img src="./../img/slider-thumbnail2.png" alt="miniature de pagination du slider" class="slider-pagination-item slider-pagination-item_active">
			<img src="./../img/slider-thumbnail3.png" alt="miniature de pagination du slider" class="slider-pagination-item"> --}}
		</div>
	</div>
</div>