<div class="listing-header">
	<p class="listing-title">Best-seller</p>
	<div class="seller-sort sort">
		<p class="seller-sort-text sort-text">trier par :</p>
		<select class="seller-sort-select sort-select">
			<option value="stock">stock</option>
			<option value="name">nom</option>
			<option value="price">prix</option>
		</select>
	</div>
</div>
<div id="seller" class="listing-catalog"></div> 