<div class="wrapper stats-wrapper">
	<div class="stats-header">
		<p class="stats-title">Ventes / Commandes</p>
		<div class="stats-header-wrapper">
			<div class="sort stats-model">
				<p class="sort-text stats-model-text">modèle :</p>
				<select class="sort-select stats-model-select">
					<option value="namemodele">Nom du modèle</option>
					<option value="other">Un autre</option>
					<option value="name">Nom</option>
				</select>
			</div>
			<div class="sort stats-color">
				<p class="sort-text stats-color-select">couleur :</p>
				<select class="sort-select stats-color-text">
					<option value="black">Noir</option>
					<option value="green">Vert</option>
					<option value="red">Rouge</option>
					<option value="blue">Bleu</option>
				</select>
			</div>
		</div>
	</div>
	<div class="stats-timeline"><span class="arrow arrow_left stats-timeline-arrowleft"></span><img src="./../img/graph.png" alt="Graphique montrant les ventes et commandes d'un modèle en fonction du mois" class="stats-timeline-image"></div>
</div>