.catalog {
	position: relative;
	margin-top: 75px;
	padding-bottom: 65px;
	&:after {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 15px;
		left: 0;
		background: $grey;
	}
	&-header {
		&-wrapper {
			display: flex;
			flex-flow: row wrap;
		}
	}
	&-search {
		min-width: 215px;
		height: 32px;
		margin-right: 23px;
		font-size: 1.4rem;
		padding-left: 40px;
		border-radius: 1px;
		-webkit-appearance: none;
		background-image: url('./../img/search.png');
		background-position: 10px center;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		border: 1px solid $grey;
		box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
	}
	@include arrow(5px, 2px, $dark-grey);
	&-link {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		padding: 9px 10px 9px 26px;
		font-size: 1.4rem;
		border-radius: 1px;
		border: 1px solid $grey;
		background: #fff;
		&:hover .arrow {
			transform: rotate(90deg) translate3d(5px, -50%, 0);
		}
		.arrow {
			top: 50%;
			left: 12px;
			transform: rotate(90deg) translate3d(0, -50%, 0);
			transition: transform $anim-drt-fast $anim-curve-fosi;
		}
	}
}
@include breakpoint('m') {
	.catalog {
		&-header-wrapper {
			margin-top: 15px;
		}
		&-sort {
			margin-top: 5px;
		}
	}
}