.footer {
	margin-top: 85px;
	padding: 50px 0;
	background: $blue;
	&-wrapper {
		display: flex;
		flex-flow: row wrap;
	}
	&-column {
		width: 25%;
		padding-right: 20px;
		font-size: 1.4rem;
		color: #fff;
	}
	&-title {
		font-weight: bold;
		margin-bottom: 35px;
	}
	&-item {
		margin: 2px 0;
		a {
			display: inline-block;
			position: relative;
			z-index: 1;
			overflow: hidden;
			line-height: 1.6rem;
			color: #fff;
			transition: color $anim-drt-med $anim-curve-oc;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				background: #fff;
				transform: translate3d(0, 100%, 0);
				transition: transform $anim-drt-med $anim-curve-oc;
			}
			&:hover {
				color: $blue;
				&:before {
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}
@include breakpoint('s') {
	.footer {
		padding: 35px 0;
		&-title {
			margin-bottom: 15px;
		}
		&-column {
			width: 50%;
			&:nth-child(3), &:nth-child(4) {
				margin-top: 30px;
			}
		}
	}
}