.header {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	border-bottom: 1px solid #fff;
	background: $blue;
	&-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&-link {
		position: relative;
		display: block;
		float: left;
		padding: 43px 0 41px;
		font-size: 1.5rem;
		margin: 0 13px;
		color: #fff;
		&:after {
			content: '';
			width: 100%;
			height: 10px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #fff;
			transform: translate3d(0, 10px, 0);
			transition: transform 0.4s cubic-bezier(0.05, 0.65, 0.3, 1);
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover:after {
			transform: translate3d(0, 0, 0);
		}
	}
	&-menu, &-user {
		overflow: hidden;
	}
	&-menu {
		&-link {
			&_active:after {
				transform: translate3d(0, 5px, 0);
			}
		}
	}
	&-user {
		&-link {
			&:first-child {
				padding-right: 30px;
				&:before {
					content: '';
					width: 12px;
					height: 12px;
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translate3d(0, -30%, 0);
					background: url('../img/plus.svg');
				}
			}
			&:last-child:before {
				content: '';
				width: 1px;
				height: 1.5rem;
				position: absolute;
				top: 50%;
				left: -18px;
				transform: translate3d(0, -40%, 0);
				background: $dark-grey;
			}
		}
	}
}
.hamburger {
	display: none;
}
@include breakpoint('m') {
	.header {
		width: 100%;
		height: 100%;
		right: -100%;
		border-bottom: none;
		border-left: 1px solid #fff;
		&-wrapper {
			width: auto;
			height: 100%;
			flex-direction: column;
			padding: 75px 0 10px;
		}
		&-menu, &-user {
			text-align: right;
		}
		&-user-link:first-child {
			padding-right: 40px;
			&:before {
				right: 20px;
				transform: translate3d(0, -50%, 0);
			}
		}
		&-link {
			float: none;
			margin: 0;
			padding: 15px 20px;
			&:after {
				display: none;
			}
		}
	}
	.hamburger {
		width: 30px;
		height: 22px;
		display: block;
		position: fixed;
		z-index: 20;
		top: 15px;
		right: 15px;
		overflow: hidden;
		box-sizing: content-box;
		padding: 10px 12px;
		cursor: pointer;
		border: 1px solid #fff;
		background: $blue;
		&-line {
			width: 100%;
			height: 2px;
			display: block;
			background: #fff;
			transition: transform 500ms cubic-bezier(0.5, 0.6, 0.35, 0.95);
			&:nth-child(2) {
				position: relative;
				margin: 8px 0;
				background: none;
				&:before, &:after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: #fff;
					transition: transform 500ms cubic-bezier(0.05, 0.8, 0.15, 1);
				}
			}
		}
		&.open {
			.hamburger-line {
				transition: transform 500ms cubic-bezier(0.2, 0.1, 0.1, 1);
				&:nth-child(1) {
					transform: translate3d(0, -12px, 0);
				}
				&:nth-child(3) {
					transform: translate3d(0, 12px, 0);
				}
				&:nth-child(2) {
					&:before {
						transform: rotate(45deg);
					}
					&:after {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}