.historic {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 48px;
	padding-bottom: 52px;
	&-part {
		width: 47%;
		&_left {
			position: relative;
			padding-bottom: 40px;
			&:before {
				content: '';
				width: 100%;
				height: 1px;
				position: absolute;
				z-index: -1;
				bottom: 15px;
				left: 0;
				transform: translate3d(0, -50%, 0);
				background: $grey;
			}
		}
	}
	&-title {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	&-infobloc_last:after {
		display: none;
	}
	&-link {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		padding: 9px 25px 9px 15px;
		font-size: 1.4rem;
		border-radius: 1px;
		border: 1px solid $grey;
		background: #fff;
		@include arrow(5px, 2px, $dark-grey);
		&:hover .arrow {
			transform: translate3d(5px, -50%, 0);
		}
		.arrow {
			top: 50%;
			right: 10px;
			transform: translate3d(0, -50%, 0);
			transition: transform $anim-drt-fast;
		}
	}
}
@include breakpoint('m') {
	.historic-part {
		width: 100%;
		&_right {
			margin-top: 35px;
		}
	}
}