.landing {
	color: #fff;
	background: $blue;
	&-wrapper {
		position: relative;
	}
	&-cover {
		width: 116%;
		min-width: 500px;
    position: relative;
		left: 50%;
    transform: translate3d(-50%, 0, 0);
	}
	&-heading, &-command {
		position: absolute;
		left: 0;
	}
	&-heading {
		top: 49px;
		@include breakpoint('m') {
			top: 20px;
		}
		&-name {
			margin-bottom: 15px;
			font-size: 1.3rem;
		}
		&-infos {
			font-size: 1.1rem;
			line-height: 1.2rem;
		}
	}
	@include buttonlink(#fff);
	&-command.buttonlink {
		position: absolute;
		bottom: 50px;
		@include breakpoint('s') {
			bottom: 20px;
		}
	}
}