.news {
	position: relative;
	margin-top: 83px;
	background: $green;
	&:before {
		content: '';
		width: 120%;
		height: 50%;
		position: absolute;
		top: 0;
		left: 0;
		background: $green;
		transform-origin: 0 0;
		transform: rotate(-1.8deg);
	}
	&-wrapper {
		position: relative;
		padding: 40px 0 48px;
	}
	&-title {
		font-size: 1.4rem;
		font-weight: bold;
		text-align: center;
	}
}

.slider {
	max-width: 750px;
	width: 100%;
	position: relative;
	margin: 56px auto 0;
	&-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	@include arrow(25px, 2px,  #000);
	&-arrow {
		top: 70px;
		&_left {
			left: -90px;
			transform: rotate(180deg);
		}
		&_right {
			right: -90px;
		}
	}
	&-cover, &-title, &-description {
		&-item {
			display: none;
		}
		&-item.active {
			display: block;
		}
	}
	&-cover, &-right {
		max-width: 350px;
		width: 47%;
	}
	&-cover {
		position: relative;
		&-item {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translate3d(0, -50%, 0);
		}
	}
	&-title {
		font-size: 1.8rem;
	}
	&-description {
		margin: 17px 0 28px;
		font-size: 1.4rem;
		line-height: 1.7rem;
	}
	@include buttonlink(#000);
	&-pagination {
		margin-top: 38px;
		text-align: center;
		cursor: pointer;
		&-item {
			width: 40px;
			display: inline-block;
			margin: 0 4px 5px;
			border: 1px solid #fff;
			border-radius: 50%;
			&.active {
				width: 50px;
				margin: 0 4px;
				border-color: #000;
			}
		}
	}
}
@include breakpoint('l') {
	.slider {
		&-wrapper {
			position: static;
		}
		&-arrow {
			top: auto;
			bottom: 0;
			&_left {
				left: 15px;
			}
			&_right {
				right: 15px;
			}
		}
	}
}
@include breakpoint('m') {
	.slider {
		margin: 40px auto 0;
		&-wrapper {
			flex-direction: column;
		}
		&-cover, &-right {
			max-width: none;
			width: 100%;
		}
		&-cover-item {
			position: relative;
			transform: none;
		}
		&-right {
			margin-top: 28px;
		}
	}
}