.stats {
	position: relative;
	background: $orange;
	&:after {
		content: '';
		width: 120%;
		height: 50%;
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		background: $orange;
		transform-origin: 0 0;
		transform: rotate(1.8deg);
	}
	&-wrapper {
		max-width: 820px;
		width: 90%;
		padding: 40px 0 15px;
	}
	&-header {
		display: flex;
		justify-content: space-between;
		color: #fff;
		&-wrapper {
			display: flex;
			flex-flow: row wrap;
		}
	}
	&-title {
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 31px;
	}
	.sort-select {
		color: #fff;
		background: $orange;
		border-color: #fff;
		background-image: url('../img/arrows-top-down-white.svg');
		background-position: right 10px center;
		background-repeat: no-repeat;
	}
	&-model {
		margin-right: 25px;
	}
	&-timeline {
		margin-top: 45px;
		position: relative;
		@include arrow(25px, 2px, #fff);
		.arrow {
			top: 90px;
			left: -55px;
			transform: rotate(180deg);
		}
		&-image {
			width: 100%;
		}
	}
}
@include breakpoint('m') {
	.stats-header {
		min-height: 75px;
		flex-direction: column;
		&-wrapper {
			margin-top: 15px;
		}
	}
}
@include breakpoint('s') {
	.stats-model {
		margin-bottom: 5px;
	}
}