@mixin arrow($size, $thickness, $color) {
	.arrow {
		width: $size;
		height: $size * 1.8;
		position: absolute;
		cursor: pointer;
		&:before, &:after {
			content: '';
			width: 100%;
			height: $thickness;
			position: absolute;
			top: 50%;
			right: 1px;
			transform-origin: 100% 50%;
			background: $color;
		}
		&:before {
			transform: translate3d(0, -20%, 0) rotate(45deg);
		}
		&:after {
			transform: translate3d(0, -70%, 0) rotate(-45deg);
		}
	}
}