@mixin buttonlink($color) {
	.buttonlink {
		display: inline-block;
		position: relative;
		padding: 7px 64px 9px 10px;
		overflow: hidden;
		font-size: 1.4rem;
		color: $color;
		border-radius: 1px;
		border: 1px solid $color;
		transition: padding $anim-drt-fast $anim-curve-fosi;
		&:hover {
			padding: 7px 49px 9px 25px;
			transition: padding $anim-drt-fast $anim-drt-fast/2 $anim-curve-fosi;
			.buttonlink-arrow {
				transform: translate3d(19px, -50%, 0);
			}
		}
		@include arrow(5px, 1px, $color);
		&-arrow {
			top: 50%;
			transform: translate3d(0, -50%, 0);
			transition: transform $anim-drt-fast/2 $anim-curve-fosi;
			&_left {
				left: -7px;
				transition: transform $anim-drt-fast/2 $anim-drt-fast/2 $anim-curve-fosi;
			}
			&_right {
				right: 12px;
				transition: transform $anim-drt-fast/2 $anim-curve-fosi;
			}
		}
	}
}



.sort {
	display: flex;
	flex-direction: row;
	&-text {
		margin-right: 10px;
		font-size: 1.4rem;
		line-height: 32px;
	}
	&-select {
		min-width: 115px;
		height: 32px;
		font-size: 1.4rem;
		padding: 0 23px 0 10px;
		border-radius: 1px;
		border: 1px solid $grey;
		-webkit-appearance: none;
		background-image: url('../img/arrows-top-down.svg');
		background-position: right 10px center;
		background-repeat: no-repeat;
		box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
	}
}