.infobloc {
	display: block;
	position: relative;
	padding: 24px 0;
	&:hover {
		.infobloc-link {
			opacity: 1;
		}
	}
	&_warn {
		.infobloc-pp {
			border-color: $orange;
		}
		.infobloc-description-state {
			color: $orange;
		}
		.infobloc-link {
			border-color: $orange !important;
			.arrow:before, .arrow:after {
				background: $orange !important;
			}
		}
	}
	&_valid {
		.infobloc-pp {
			border-color: $green;
		}
		.infobloc-description-state {
			color: $green;
		}
		.infobloc-link {
			border-color: $green !important;
			.arrow:before, .arrow:after {
				background: $green !important;
			}
		}
	}
	&:after {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: $grey;
	}
	article {
		display: flex;
		flex-direction: row;
	}
	&-pp {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid $grey;
	}
	&-icon {
		width: 50px;
		height: 50px;
		margin-left: -12px;
	}
	&-description {
		margin-left: 20px;
		color: $dark-grey;
		&-info {
			margin-bottom: 5px;
		}
		&-title {
			font-size: 1.4rem;
			font-weight: bold;
			margin-bottom: 5px;
		}
		&-text {
			font-size: 1.1rem;
			> .bold {
				color: #000;
			}
		}
		&-state {
			margin-top: 13px;
			font-weight: bold;
			&_warn {
				color: $orange;
			}
			&_valid {
				color: $green;
			}
		}
	}
	@include buttonlink($dark-grey);
	&-link.buttonlink {
		position: absolute;
		top: 50%;
		right: -5px;
		transform: translate3d(0, -50%, 0);
		overflow: hidden;
		padding: 7px 35px 9px 10px;
		opacity: 0;
		background: #fff;
		transition: opacity $anim-drt-med $anim-curve-oc;
		&:hover {
			padding: 7px 35px 9px 10px;
			.buttonlink-arrow {
				transform: translate3d(0, -50%, 0);
			}
		}
	}
}