.listing {
	&-header {
		display: flex;
		justify-content: space-between;
	}
	&-title {
		font-size: 2.4rem;
		line-height: 31px;
	}
	&-catalog {
		margin-top: 40px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}
@include breakpoint('m') {
	.listing-header {
		min-height: 85px;
		flex-direction: column;
	}
}