.product {
	width: 19.5%;
	min-height: 220px;
	position: relative;
	padding: 10px 15px;
	word-break: break-word;
	background: $light-grey;
	&:after {
		content: '';
		width: 100%;
		height: 5px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: $grey;
	}
	&_nostock {
		& .product-info {
			color: $orange;
		}
		&:after {
			background: $orange;
		}
	}
	&-cover {
		max-width: 144px;
		width: 100%;
		margin: auto;
		margin-bottom: 19px;
	}
	&-name {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.9rem;
	}
	&-description {
		margin-bottom: 20px;
		color: $dark-grey;
	}
	&-info {
		position: absolute;
		bottom: 8px;
		right: 10px;
		font-size: 1.1rem;
		font-weight: bold;
		color: $grey;
	}
}
@include breakpoint('m') {
	.product {
		width: 100%;
		min-height: 76px;
		margin: 5px 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-cover {
			float: left;
			margin-right: 15px;
		}
	}
}